<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <entityFramework>
    <contexts>
      <context type="VulnerabilitiesApp.Models.VulnerabilitiesContext, VulnerabilitiesApp">
        <databaseInitializer type="VulnerabilitiesApp.Models.VulnerabilitiesContext, VulnerabilitiesApp" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VulnerabilitiesContext" connectionString="Data Source=DESKTOP-GEJUVE6\SQLEXPRESS;Initial Catalog=VulnerabilitiesDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
        
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
</configuration>
